<h1>Products</h1>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li>
          <a href="/products/<%= product.id %>"><button><%= product.name %> - $<%= product.cost %></button></a>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No products currently in stock</p>
<% end %>


<a href="/products/new"><button>Add new product to inventory</button></a>