<h1>Welcome to Mario's</h1>
<h1>Your source for world class food.</h1>

<% if @newest_3.any? %>
  <h4>Our Newest Items:</h4>
    <ul>
      <% @newest_3.each do |item| %>
      <li>
          <a href="/products/<%= item.id %>"><button><%= item.name %></button></a>
      </li>
      <% end %>
    </ul>
<% else %>
  <h4>No New Items to Display</h4>
<% end %>

<br>

<% if @from_mexico.any? %>
  <h4>Items from Mexico:</h4>
    <ul>
      <% @from_mexico.each do |item| %>
      <li>
          <a href="/products/<%= item.id %>"><button><%= item.name %></button></a>
      </li>
      <% end %>
    </ul>
<% end %>

  <a href="/products"><button>See all Products</button></a>

